@use '../utils/' as u;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Roboto Variable', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

p {
  line-height: 1.5;
}

@for $i from 1 through 6 {
  h#{$i} {
    line-height: 1.1;
  }
}

button,
input {
  font: inherit;
}
