:root {
  --color-text: hsl(0, 0%, 8%);
  --color-p1: hsl(227, 100%, 24%);
  --color-p2: hsl(227, 100%, 17%);
  --color-gradient: linear-gradient(to right, var(--color-p1), var(--color-p2));
  --color-bg: hsl(158, 100%, 98%);
  --color-s: hsl(165, 100%, 40%);
}
